:root {
  --purple-default: #665CD1;
  --purple-bg: #F1F0FF;
  --button-bg: #171717;
  --index: calc(1vh + 1vw);
  --black-400: #5A5A5A;
  --black-500: #262626;
  --border-color: #C4C4C4;
  --test: #9b96e1;
}

@font-face {
  font-family: 'Mulish-700';
  src: url(../fonts/Mulish-Bold.ttf);
}

@font-face {
  font-family: 'Mulish-400';
  src: url(../fonts/Mulish-Regular.ttf);
}

@font-face {
  font-family: 'Mulish-500';
  src: url(../fonts/Mulish-Medium.ttf);
}

@font-face {
  font-family: 'Mulish-300';
  src: url(../fonts/Mulish-Light.ttf);
}

.button-static {
  border: 0;
  font-size: 1.250vw;
  font-family: 'Mulish-700';
  padding: 10px 15px;
  border-radius: 35px;
  text-align: center;
  padding: 0.781vw 1.172vw;
  transition: 0.2s;
  cursor: pointer;
}

.route-desc {
  font-family: 'Mulish-500';
  font-size: 16px;
  color: var(--black-500);
  padding-bottom: 4px;
  border-radius: 2px;
  border-bottom: 2px solid #665CD1;
  outline: none;
}

.footer-pointer {
  cursor: pointer;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.footer-pointer:hover {
  border-color: var(--purple-default);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contacts {
  margin-bottom: 15px;
  width: 100%;
}

.contacts h3 {
  font-family: 'Mulish-700';
  font-size: 1.484vw;
  margin-bottom: 15px;
  color: var(--purple-default);
}

.contacts-info {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
}

.contacts-info .contacts-wrapper {
  width: 46%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.contacts-info .contacts-wrapper-header {
  font-family: 'Mulish-500';
  font-size: 14px;
  color: var(--black-400);
}

.contacts .payment {
  margin-top: 20px;
}

.contacts .payment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacts .payment-wrapper .cash-before, .contacts .payment-wrapper .cash-after, .contacts .payment-wrapper .safe-moow {
  background-color: var(--purple-bg);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.contacts .payment-wrapper .cash-before .payment-method, .contacts .payment-wrapper .cash-after .payment-method, .contacts .payment-wrapper .safe-moow .payment-method {
  width: 100%;
  font-family: 'Mulish-700';
  color: var(--button-bg);
}

.contacts .payment-wrapper .safe-moow .payment-method {
  text-align: left;
}

.contacts .payment-wrapper .safe-moow .cards {
  color: var(--purple-default);
  font-size: 14px;
  font-family: 'Mulish-300';
  width: auto;
  white-space: nowrap;
  text-align: right;
}
